node_modules
dist
demo
.svn/
dist/
pnpm-lock.yaml
packages/integration/vdaas-console/resources/page/spreadsheet/**
packages/integration/vdaas-console/resources/page/vdaas/spreadsheet/**
packages/integration/vdass-web/resources/static/vdaasweb/spreadsheet/**
packages/integration/vdaas-service/resources/**
packages/script/src/designer/icon/icons/**
packages/script/src/designer/icon/delta/**
.project
.classpath
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
