.uiButton {
    position: relative;
    background: white;
    border: none;
    cursor: pointer;
    font-size: 12px;

    &.active {
        background: #dadada url(../../assets/icons_hover.png) 50% 50% repeat-x;
    }

    &:hover {
        background-image: url(../../assets/icons_hover.png);
    }

    .uiIcon {
        display: inline-block;
        background-image: url(../../assets/icons.png);
        width: 16px;
        height: 16px;
    }
}