.uiSeparator.vertical{
    width: 1px;
    border: none;
    border-left: 1px solid lightgray;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
}

.uiSeparator.horizontal{
    height: 1px;
    border-top: 1px solid lightgray;
    margin: 0px 0px 0px 12px;
}