.footerLabelBox {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 12px;

    .uiButton {
        position: absolute;
        top: 0;
        right: 0;

        .uiIcon {
            background-position: 0px -3616px;
        }
    }
}