.groupBox {
    width: 280px;
    border: 1px solid lightgrey;
    border-width: 0 1px 1px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    select.uiSelect {
        border: none !important;
        outline: none !important;
        font-size: 12px;
    }


    .groupContent {
        position: relative;
        padding: 0.2em;
        z-index: 1;

        .contentHeader {
            display: flex;

            .increaseFontSize {
                .uiIcon {
                    background-position: 0px -1472px;
                }
            }

            .decreaseFontSize {
                .uiIcon {
                    background-position: 0px -2736px;
                }
            }
        }

        ;

        .contentFootor {
            display: flex;
            height: 26px;
            align-items: center;

            .borderOpt {
                .uiButton {
                    width: max-content;
                }

                .bottomBorder {
                    .uiIcon {
                        background-position: 0px -416px;
                    }
                }

                .topBorder {
                    .uiIcon {
                        background-position: 0px -3264px;
                    }
                }

                .leftBorder {
                    .uiIcon {
                        background-position: 0px -1728px;
                    }
                }

                .rightBorder {
                    .uiIcon {
                        background-position: 0px -2560px;
                    }
                }

                .noBorder {
                    .uiIcon {
                        background-position: 0px -1952px;
                    }
                }

                .allBorder {
                    .uiIcon {
                        background-position: 0px -128px;
                    }
                }

                .outsideBorder {
                    .uiIcon {
                        background-position: 0px -2016px;
                    }
                }

                .thickBoxBorder {
                    .uiIcon {
                        background-position: 0px -3184px;
                    }
                }

                .bottomDoubleBorder {
                    .uiIcon {
                        background-position: 0px -448px;
                    }
                }

                .thickBottomBorder {
                    .uiIcon {
                        background-position: 0px -3200px;
                    }
                }

                .topBottomBorder {
                    .uiIcon {
                        background-position: 0px -3216px;
                    }
                }

                .topThickBottomBorder {
                    .uiIcon {
                        background-position: 0px -3248px;
                    }
                }

                .topDoubleBottomBorder {
                    .uiIcon {
                        background-position: 0px -3232px;
                    }
                }

                .moreBorders {
                    .uiIcon {
                        background-position: 0px -1856px;
                    }
                }
            }

            .uiButton {
                width: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .fontWeight {
                .uiIcon {
                    background-position: 0px -400px;
                }
            }

            .fontItalic {
                .uiIcon {
                    background-position: 0px -1712px;
                }
            }

            .fontUnderline {
                .uiIcon {
                    background-position: 0px -3328px;
                }
            }

            .fontDoubleUnderline {
                .uiIcon {
                    background-position: 0px -4272px;
                }
            }

            .backcolorButton {
                .uiIcon {
                    background-position: 0px -1008px;
                }
            }

            .forecolorButton {
                .uiIcon {
                    background-position: 0px -1168px;
                }
            }

        }
    }

}