.tabBox {
    margin: 10px 13px;
    background: #fff;
    width: 700px;
    height: 530px;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    P {
        margin: 5px 0 0 5px;
    }

    .leftArea {
        float: left;
        width: 150px;
        height: 423px;
        margin: 0px 5px 5px 5px;
    }
    .simpleArea {
        float: left;
        width: 70%;
        height: 61px;
        margin: 0 5px;
        font-size: 11px;
        fieldset {
            padding: 0;
            height: 100%;
            border: 1px solid lightgray;
            label {
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 5px;
            }
        }
    }
    .rightArea {
        float: left;
        width: 510px;
        height: 220px;
        margin: 5px;
        .decimalPlaces {
            width: 100%;
            height: 26px;
            margin-top: 10px;
            display: flex;
            align-items: center;
        }
        #thousand-separator {
            height: 25px;
            margin: 5px 0;
            display: flex;
            align-items: center;
        }
    }
    .bottomArea {
        float: left;
        width: 670px;
        height: 21px;
        margin: 2px;
        padding-left: 5px;
        padding-top: 10px;
    }

    .borderArea {
        margin: 10px;
        display: flex;
        width: 500px;
        height: 300px;

        .lineArea {
            width: 150px;
            height: 300px;
            font-size: 12px;
            display: flex;
            span {
                border: none;
                display: block;
                height: 16px;
                margin: 5px;
            }

            .lineStyle {
                display: flex;
                width: 130px;
                height: 150px;
                margin: 5px;
                border: none;
                .lineStyleLeft {
                    margin: 2px;
                    width: 60px;
                    height: 112px;
                    border: none;
                    background: transparent;
                }
                .lineStyleRight {
                    margin: 2px;
                    width: 60px;
                    height: 112px;
                    background: transparent;
                }
            }
            .lineColor {
                width: 126px;
                height: 24px;
                margin: 5px;
                display: flex;
                border: 1px solid lightgray;
                .colorPreView {
                    border: 4px solid #fff;
                    width: 100px;
                    height: 16px;
                }
                .arrowDownIcon {
                    width: 20px;
                    height: 23px;
                    border-left: 1px solid lightgray;
                }
                &:hover {
                    border: 1px solid black;
                }
            }
        }
        .preArea {
            width: 350px;
            height: 300px;
            .presetArea {
                width: 300px;
                height: 68px;
                display: flex;
                .item {
                    width: 100px;
                    height: 68px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .preShowArea {
            height: 130px;
            width: 310px;
            display: flex;
            .preShowAreaLeft {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 50px;
                height: 120px;
            }
            .preShowAreaRight {
                width: 250px;
                height: 120px;
                display: flex;
                justify-content: center;
            }
        }
        .preShowAreaBottom {
            width: 250px;
            height: 35px;
            position: relative;
        }

        .bottomArea {
            width: 90%;
            height: 25px;
        }
    }

    .alignment {
        height: 245px;
        width: 680px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        .leftalignment {
            width: 460px;
            height: 90px;
            display: flex;
            flex-direction: column;
            .items {
                display: flex;
                flex-direction: row;
                .textItemLeft {
                    width: 260px;
                    height: 58px;
                    display: flex;
                    flex-direction: column;
                    .textItem {
                        margin: 5px;
                        display: flex;
                        flex-direction: row;
                        width: 260px;
                        height: 24px;
                        span {
                            margin-top: 3px;
                            padding-left: 30px;
                            width: 100px;
                            height: 24px;
                            font-size: 12px;
                        }
                    }
                }
                .textItemRight {
                    margin-top: 24px;
                    margin-left: 24px;
                    display: flex;
                    flex-direction: row;
                    width: 200px;
                    height: 58px;
                    span {
                        margin-top: 2px;
                    }
                }
                .disabledIndent {
                    margin-top: 24px;
                    margin-left: 24px;
                    display: flex;
                    flex-direction: row;
                    width: 200px;
                    height: 58px;
                    span {
                        margin-top: 2px;
                    }
                    pointer-events: none; /* 禁止交互 */
                    opacity: 0.6;
                }
            }

            .textControl {
                width: 460px;
                height: 120px;
                .controlItem {
                    width: 430px;
                    height: 20px;
                    margin: 10px 0 0 30px;
                    .chekbox {
                        margin-top: 2px;
                    }
                    span {
                        font-size: 12px;
                        margin-left: 3px;
                    }
                }
            }
        }

        .orientation {
            width: 140px;
            height: 220px;
            display: flex;
            margin-left: 22px;
            .orientationTopItem {
                display: flex;
                flex-direction: row;
                width: 130px;
                height: 150px;
                .orientationText {
                    height: 140px;
                    width: 30px;
                    border: 1px solid lightgray;
                    span {
                        width: 10px;
                        height: 100%;
                        padding-left: 8px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                }
                .pointer {
                    height: 140px;
                    width: 90px;
                    margin-left: 10px;
                    border: 1px solid lightgrey;
                    .fixed-points {
                        position: relative;
                        height: 140px;
                        width: 100px;
                        transform: translate(-50%, -50%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        left: 10px;
                        top: 70px;
                        .pointsText {
                            font-size: 12px;
                            margin-left: 45px;
                            margin-bottom: 3px;
                        }
                        .fixed-point {
                            width: 5px;
                            height: 5px;
                            background: black;
                            position: absolute;
                        }
                    }
                }
            }
            .orientationBottomItem {
                display: flex;
                flex-direction: row;
                width: 150px;
                height: 50px;
                span {
                    font-size: 14px;
                    padding-top: 3px;
                    padding-left: 16px;
                }
            }
        }
        .disabledOrientation {
            width: 140px;
            height: 220px;
            display: flex;
            margin-left: 22px;
            pointer-events: none; /* 禁止交互 */
            opacity: 0.6;
        }
    }

    .fontTop {
        height: 210px;
        width: 680px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        .fontList {
            height: 210px;
            width: 330px;
        }
        .fontStyle {
            height: 210px;
            width: 170px;
        }
        .fontSize {
            height: 210px;
            width: 170px;
        }
    }
    .fontMiddle {
        display: flex;
        flex-direction: row;
        .fontLeft {
            height: 150px;
            width: 318px;
            margin: 0 10px;
            display: flex;
            flex-direction: column;
            span {
                display: block;
                height: 20px;
            }
            .effect {
                width: 318px;
                height: 100px;
                .strikethrough {
                    display: flex;
                    flex-direction: row;
                    span {
                        padding-left: 5px;
                        padding-top: 2px;
                    }
                }
            }
        }
        .fontRight {
            height: 150px;
            width: 330px;
            display: flex;
            flex-direction: column;
            .fontColor {
                width: 330px;
                height: 50px;

                .lineColor {
                    width: 325px;
                    height: 24px;
                    margin-left: 5px;
                    display: flex;
                    border: 1px solid lightgray;
                    .colorPreView {
                        border: 4px solid #fff;
                        width: 300px;
                        height: 16px;
                    }
                    .arrowDownIcon {
                        width: 20px;
                        height: 23px;
                        border-left: 1px solid lightgray;
                    }
                    &:hover {
                        border: 1px solid black;
                    }
                }
                span {
                    display: block;
                    padding-left: 5px;
                    width: 330px;
                    height: 20px;
                }
            }
        }
    }
}
.bottomButtons {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    Button {
        width: 80px;
        height: 30px;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }
}
