.fontAlignBox {
    width: 273px;
    border: 1px solid lightgrey;
    border-width: 0px 1px 1px 1px;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    height: 102px;

    .header {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 0.2em;

        .headerLeft {
            .topAlign {
                .uiIcon {
                    background-position: 0px -112px;
                }
            }

            .middleAlign {
                .uiIcon {
                    background-position: 0px -80px;
                }
            }

            .bottomAlign {
                .uiIcon {
                    background-position: 0px -32px;
                }
            }

            .verticalText {
                .uiIcon {
                    background-position: 0px -4224px;
                }
            }

            .leftAlgin {
                .uiIcon {
                    background-position: 0px -64px;
                }
            }

            .centerAlign {
                .uiIcon {
                    background-position: 0px -48px;
                }
            }

            .rightAlign {
                .uiIcon {
                    background-position: 0px -96px;
                }
            }

            .increaseIndent {
                .uiIcon {
                    background-position: 0px -1536px;
                }
            }

            .decreaseIndent {
                .uiIcon {
                    background-position: 0px -816px;
                }
            }
        }

        .headerRight {
            .headerRightBotton {
                display: flex;
                flex-direction: row;

                .uiSelect {
                    .item:nth-child(1) {
                        .uiIcon {
                            background-position: 0px -1840px;
                        }
                    }

                    .item:nth-child(2) {
                        .uiIcon {
                            background-position: 0px -1792px;
                        }
                    }

                    .item:nth-child(3) {
                        .uiIcon {
                            background-position: 0px -1808px;
                        }
                    }

                    .item:nth-child(4) {
                        .uiIcon {
                            background-position: 0px -3376px;
                        }
                    }
                }
            }

            .wrapText {
                .uiIcon {
                    background-position: 0px -3456px;
                }
            }

            .mergeCenter {
                .uiIcon {
                    background-position: 0px -1840px;
                }
            }
        }
    }
}